ul {
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit !important;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

ul {
  padding-left: 0;
}

address {
  font-style: normal;
}

input {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: inherit;
  cursor: default;
}

input:focus,
input:hover,
input:not(:active:focus) {
  outline: none;
  border: none;
  -webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px;
          box-shadow: 0.5px 0.5px 0.5px 0.5px;
}

input[type=text]::-webkit-outer-spin-button,
input[type=text]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.line {
  width: 536px;
  height: 0;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 10px;
  margin: 0 auto;
}

body {
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat Alternates";
  text-align: center;
}

.light-theme {
  color: black !important;
  background-color: white;
  fill: black;
  border-color: black;
}

.dark-theme {
  color: white !important;
  background-color: rgb(33, 33, 33);
  fill: white;
  border-color: white;
}

.container {
  width: 1090px;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29.26px;
  margin-bottom: 36px;
}

.game-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.game-form,
.game-form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  height: 25px;
}
.game-form.game-form,
.game-form2.game-form {
  width: 215px;
  margin-left: 60px;
  height: 35px;
}
.game-form.game-form2,
.game-form2.game-form2 {
  width: 150px;
  height: 35px;
}

.game-input,
.game-input2,
.time-input {
  text-align: left;
  padding-left: 10px;
  font-size: 12px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 33px;
  background-color: rgb(215, 215, 215);
  border: none;
  color: rgb(126, 126, 126);
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: Montserrat Alternates;
}
.game-input.game-input,
.game-input2.game-input,
.time-input.game-input {
  width: 180px;
}
.game-input.game-input2,
.game-input2.game-input2,
.time-input.game-input2 {
  width: 115px;
}

.game-button,
.time-button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: black;
  border: none;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.game-result {
  font-size: 12px;
  width: 260px;
}

.game-wrap,
.game-wrap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 202px;
  height: 35px;
  margin-bottom: 36px;
}

.calculator-input {
  width: 135px;
  height: 35px;
  text-align: center;
  padding: 0;
  font-size: 12px;
  border-radius: 30px;
  background-color: rgb(215, 215, 215);
  border: none;
  color: rgb(126, 126, 126);
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: Montserrat Alternates;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.calculator-wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 629px;
  height: 60px;
  margin-bottom: 36px;
}

.calculator-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
}

.calculator-operations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70px;
  height: 70px;
  gap: 10px;
  row-gap: 10px;
}

.operation-button,
.calculator-button {
  width: 27px;
  height: 25px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.calculator-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(126, 126, 126);
  background-color: rgb(215, 215, 215);
  border-radius: 30px;
  font-size: 12px;
  width: 118px;
  height: 35px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  margin-left: 38px;
}

.time-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 30px;
}

.time-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 33px;
  margin-bottom: 36px;
}

.time-input {
  width: 115px;
}

.time-line {
  border: 1px dashed black;
  width: 100px;
}

.time-result {
  width: 150px;
  height: 15px;
  font-weight: 400;
}

.number-wrap {
  margin-bottom: 36px;
}

.number-input {
  height: 35px;
  width: 135px;
  text-align: center;
  border: none;
  border-radius: 30px;
  color: rgb(126, 126, 126);
  background-color: rgb(215, 215, 215);
  font-size: 12px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.number-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  gap: 38px;
}

.number-result {
  margin-top: 36px;
}

.slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.slider-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 430px;
  height: 270px;
  position: relative;
}

.slide {
  width: 430px;
  height: 270px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  top: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.arrow.left {
  left: 100px;
}
.arrow.right {
  right: 100px;
}
.arrow[disabled] {
  cursor: default;
  opacity: 0.5;
}

.slider-image {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20%;
  display: block;
}

.slider-title {
  margin: 20px 0;
}

.slider-lines {
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.slider-line {
  display: inline-block;
  width: 18px;
  height: 3px;
  background-color: rgb(217, 217, 217);
  border-radius: 5px;
  cursor: pointer;
}

.slider-line.active {
  width: 30px;
  background-color: rgb(121, 121, 121);
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.footer-modal {
  position: relative;
  display: none;
  top: 50%;
  left: 50%;
  width: 463px;
  height: 245px;
  border-radius: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  padding: 70px 43px;
}
.footer-modal-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: center;
  margin-top: 14px;
  color: rgb(0, 0, 0);
}

.footer-modal-close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: transparent;
  top: 15px;
  right: 15px;
}

.footer-modal-sword-svg {
  position: absolute;
  top: 70px;
  left: 43px;
}

.footer-modal-console-svg {
  position: absolute;
  top: 70px;
  right: 43px;
}

.footer-modal-puzzle-svg {
  position: absolute;
  top: 146px;
  left: 87px;
}

.footer-modal-tic-svg {
  position: absolute;
  top: 146px;
  right: 87px;
}

.game-rps {
  position: relative;
}

.game-rps-score-span {
  display: block;
  width: 93px;
  margin-left: 104px;
}

.game-rps-score {
  font-size: 12px;
  font-weight: 400;
  line-height: 20.4px;
  text-align: left;
  position: absolute;
  width: 93px;
  top: 56px;
  left: 780px;
}

.game-rps-result {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: center;
  margin-bottom: 36px;
}

.game-rps-pc-option {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 182px;
  height: 25px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 36px;
}

.game-rps-options-list {
  width: 256px;
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 38px;
  margin: 0 auto;
}

.game-rps-option-btn {
  width: 60px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 36px;
  color: rgb(255, 255, 255);
}

.game-rps-option-svg {
  fill: currentColor;
}

#start-button {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  margin: 0 auto;
}

.dino-game {
  width: 720px;
  height: 240px;
  margin: 0 auto;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  margin-bottom: 36px;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url("../images/dino.png");
  background-size: 50px 50px;
  position: relative;
  top: 190px;
}

#cactus {
  width: 20px;
  height: 40px;
  background-image: url("../images/cactus.png");
  background-size: 20px 40px;
  position: relative;
  top: 148px;
  left: 680px;
  -webkit-animation: cactusMove 2s infinite linear;
          animation: cactusMove 2s infinite linear;
}

@-webkit-keyframes cactusMove {
  0% {
    left: 680px;
  }
  100% {
    left: -13px;
  }
}

@keyframes cactusMove {
  0% {
    left: 680px;
  }
  100% {
    left: -13px;
  }
}
.jump-dino {
  -webkit-animation: jumpDino 1s linear;
          animation: jumpDino 1s linear;
}

@-webkit-keyframes jumpDino {
  0% {
    top: 190px;
  }
  30% {
    top: 90px;
  }
  50% {
    top: 50px;
  }
  80% {
    top: 90px;
  }
  100% {
    top: 190px;
  }
}

@keyframes jumpDino {
  0% {
    top: 190px;
  }
  30% {
    top: 90px;
  }
  50% {
    top: 50px;
  }
  80% {
    top: 90px;
  }
  100% {
    top: 190px;
  }
}
.game-football-wrap {
  margin-bottom: 36px;
}

.football-game-field {
  width: 720px;
  height: 220px;
  background-color: #4caf50;
  border-radius: 20px;
  border: 2px solid #000;
  margin: 0 auto;
}

.ball {
  width: 50px;
  height: 50px;
  background-image: url("../images/ball.png");
  background-size: cover;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.scientists-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 580px;
  -webkit-column-gap: 59px;
     -moz-column-gap: 59px;
          column-gap: 59px;
  row-gap: 36px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.scientist-item {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: rgb(217, 217, 217);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 36px;
  margin-bottom: 20px;
}

.left-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}

.right-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.right-half li:last-child button {
  width: 368px;
}

.scientist-button {
  color: white;
  background-color: black;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  display: block;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
}

.lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scientist-name {
  font-size: 8px;
  font-weight: 400;
  line-height: 13.6px;
  text-align: center;
}

.scientist-age {
  font-size: 8px;
  font-weight: 400;
  line-height: 13.6px;
  text-align: center;
}

.footer {
  padding: 60px 0;
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 182px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 187px;
}

.footer-contacts {
  width: 207px;
}

.contact-item {
  text-align: left;
}

.contact-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 20.4px;
  color: rgb(0, 0, 0);
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  row-gap: 18px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscription-input {
  width: 204px;
  height: 20px;
  border-radius: 20px;
  background-color: rgb(215, 215, 215);
  color: rgb(126, 126, 126);
  padding: 10px;
}
.subscription-input::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: rgb(126, 126, 126);
}
.subscription-input::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: rgb(126, 126, 126);
}
.subscription-input:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: rgb(126, 126, 126);
}
.subscription-input::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: rgb(126, 126, 126);
}
.subscription-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: rgb(126, 126, 126);
}

.subscription-button {
  width: 107px;
  height: 35px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 14.63px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.subscription-label {
  font-size: 6px;
  line-height: 7.31px;
  text-align: left;
  color: inherit;
}

.header {
  padding: 20px;
}
.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 81px;
}
.navigations a {
  color: inherit;
}
.navigation-btn {
  background-color: transparent;
}
.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.navigation-btn:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 51px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-toggle-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 20px;
  border-radius: 11px;
  background-color: rgb(122, 122, 122);
}
.theme-toggle-button > span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 20.5px;
  border-radius: 11px;
  border: 0.5px solid black;
  background-color: white;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.2s;
  transition: background-color 0.5s, -webkit-transform 0.2s;
  transition: transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s, -webkit-transform 0.2s;
}

.dark-mode-switch {
  -webkit-transform: translateX(19.5px);
          transform: translateX(19.5px);
  background-color: black !important;
  border: 0.5px solid white !important;
}

.drop-icon {
  fill: inherit;
}

.opened-icon {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.dropdown {
  position: absolute;
  left: 140px;
  top: 40px;
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 160px;
  height: 105px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  overflow: hidden;
}
.dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown-item:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid black;
}
.dropdown-btn {
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.dropdown-btn.light {
  background-color: white;
}
.dropdown-btn.light:hover {
  background-color: rgb(241, 241, 241);
}
.dropdown-btn.dark {
  background-color: rgb(33, 33, 33);
}
.dropdown-btn.dark:hover {
  background-color: rgb(66, 66, 66);
}

.close {
  visibility: hidden;
  height: 0;
}/*# sourceMappingURL=main.css.map */