ul {
    margin: 0;
    list-style: none;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit !important;
}

button {
    border: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
}

ul {
    padding-left: 0;
}

address {
    font-style: normal;
}

input {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: inherit;
}

input:focus,
input:hover,
input:not(:active:focus) {
    outline: none;
    border: none;
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
input::placeholder {
    color: rgb(24, 24, 24) !important;
}
