body {
    font-size: 12px;
    font-weight: 400;
    font-family: "Montserrat Alternates";
    text-align: center;
}

.light-theme {
    color: black !important;
    background-color: white;
    fill: black;
    border-color: black;
}

.dark-theme {
    color: white !important;
    background-color: rgb(33, 33, 33);
    fill: white;
    border-color: white;
}